
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <form method="get" asp-action="FindOrderByID">
        <button type="submit" name="btnsubmit">Search Orders</button>
    </form>
    <form method="get" asp-action="FindOrderDetailByID">
        <button type="submit" name="btnsubmit">Search Order Details</button>
    </form>
    <form method="get" asp-action="FindProductByID">
        <button type="submit" name="btnsubmit">Search Orders</button>
    </form>
</div>
